html,body{
	width: 100%;height: 100%;
	background-size: cover;overflow-x: hidden;
}
.bounceIn,.bounceOut{
	/*animate-duration: 2s !important;*/
	animation-duration:.7s !important;
	-webkit-animation-duration:.7s !important;
}
/*左下角按钮*/
#footerLeft{
	width: 3.3rem;height: 3.74rem;background: none;position: fixed;
	left: 0;bottom: 0;z-index: 1;
}
#footerLeftBtn{
	width:1.39rem;height:1.37rem;background: url(../images/left_bot.png);
	background-size: cover;position: fixed;left: 0.39rem;bottom: 0.12rem;
	z-index: 101;
}
.footerLeft{
	width: 3.3rem;height: 3.74rem;background: none;position: fixed;
	left: 0;bottom: 0;overflow: hidden;transition:all .5s ease;
	transform: rotate(90deg);transform-origin: 0 100%;z-index:100;
}
.leftBtn1{
	width:1.33rem;height:1.13rem;background: url(../images/left_1.png);
	position: absolute;left: 0.06rem;top: 0;background-size: cover;
}
.leftBtn2{
	width:1.21rem;height:1.12rem;background: url(../images/left_2.png);
	position: absolute;left:1.21rem;top:0.43rem;background-size: cover;
}
.leftBtn3{
	width:1.22rem;height:1.19rem;background: url(../images/left_3.png);
	position: absolute;left:1.81rem;top:1.41rem;background-size: cover;
}
.leftBtn4{
	width:1.21rem;height:1.08rem;background: url(../images/left_4.png);
	position: absolute;left:2.1rem;top:2.59rem;background-size: cover;
}
/*右下角按钮*/
#footerRight{
	width: 3.29rem;height: 3.51rem;background: none;position: fixed;
	right: 0;bottom: 0;z-index: 1;
}
#footerRightBtn{
	width:1.29rem;height:1.45rem;background: url(../images/right_bot.png);
	background-size: cover;position: fixed;right: 0.14rem;bottom: 0.12rem;
	z-index: 101;
}
.footerRight{
	width: 3.29rem;height: 3.51rem;background: none;position: fixed;
	right: 0;bottom: 0;overflow: hidden;transition:all .5s ease;
	transform: rotate(-90deg);transform-origin: 100% 100%;z-index:100;
}
.rightBtn1{
	width:1.04rem;height:1.18rem;background: url(../images/right_1.png);
	position: absolute;right: 0.14rem;top: 0;background-size: cover;
}
.rightBtn2{
	width:0.97rem;height:1.11rem;background: url(../images/right_2.png);
	position: absolute;right:1.33rem;top:0.42rem;background-size: cover;
}
.rightBtn3{
	width:1.25rem;height:1.1rem;background: url(../images/right_3.png);
	position: absolute;right:1.88rem;top:1.26rem;background-size: cover;
}
.rightBtn4{
	width:1.01rem;height:1.10rem;background: url(../images/right_4.png);
	position: absolute;right:2.29rem;top:2.4rem;background-size: cover;
}
/*左上角个人*/
.gerenBox{
	width:3.79rem;height:1.94rem;background: url(../images/gr.png);
	background-size: cover;position: fixed;left: 0.13rem;top: 0.19rem;
}
.gerenBox img{
	width: 0.81rem;height: 0.82rem;position: absolute;left: 0.12rem;
	top: 0.09rem;border-radius: 0.15rem;
}
.grBtn1{
	width:0.53rem;height:0.55rem;background: url(../images/01.png);
	background-size: cover;position: absolute;left: 0.32rem;top: 1.05rem;
}
.grBtn2{
	width:0.65rem;height:0.64rem;background: url(../images/02.png);
	background-size: cover;position: absolute;left: 1.2rem;top: 1.05rem;
}
.grBtn3{
	width:0.61rem;height:0.58rem;background: url(../images/03.png);
	background-size: cover;position: absolute;left: 2.3rem;top: 1.05rem;
}
.grBtn4{
	width:0.56rem;height:0.61rem;background: url(../images/04.png);
	background-size: cover;position: absolute;left: 3.1rem;top: 1.05rem;
}
.gerenBox p:nth-of-type(1){
	width:1.51rem;height: 0.33rem;font-size: 0.25rem;color:#774f34;
	text-align: center;line-height: 0.33rem;position: absolute;
	left: 1.01rem;top: 0.1rem;font-weight: bold;font-family: 宋体;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.gerenBox p:nth-of-type(2){
	width:2.24rem;height: 0.23rem;font-size: 0.18rem;color:#774f34;
	text-align: center;line-height: 0.23rem;position: absolute;
	left: 1.01rem;top: 0.43rem;font-family: 宋体;font-weight: bold;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.gerenBox p:nth-of-type(3){
	width:0.35rem;height: 0.28rem;font-size: 0.22rem;color:#f8b51c;
	text-align: center;line-height: 0.28rem;position: absolute;
	left: 3rem;top: 0.14rem;font-family: 宋体;font-weight: bold;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.qiandao{
	width:1.34rem;height:1.28rem;background: url(../images/qd.png);
	background-size: cover;position: fixed;right: 0.25rem;top: 1.13rem;
}
.gohome{
	width:1.34rem;height:1.68rem;background: url(../images/gohome.png);
	background-size: cover;position: fixed;right: 0.25rem;top: 1.13rem;z-index: 1000;
}
.rightTop{
	width:3.24rem;height:0.42rem;background:url(../images/t.png);
	background-size: cover;position: fixed;right: 0.16rem;top:0.2rem;
}
.rightTop p:nth-of-type(1){
	width: 1.1rem;height: 0.35rem;font-size: 0.25rem;text-align: center;
	line-height: 0.4rem;color: #ea6f8d;position: absolute;left: 0.47rem;top: 0.02rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.rightTop p:nth-of-type(2){
	width: 1.1rem;height: 0.35rem;font-size: 0.25rem;text-align: center;
	line-height: 0.4rem;color: #e3a21b;position: absolute;left:2rem;top: 0.02rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.panda{
	width:1.11rem;height:0.69rem;background: url(../images/xiongmao.gif);
	background-size: cover;position: absolute;right: 1rem;top: 5.8rem;
	z-index:100;
}
.panda p{
	width: 3rem;height: auto;background: rgba(255,255,255,.8);position: absolute;
	left: -1rem;bottom:0.7rem;padding: 0.05rem 0.1rem;border-radius: 0.2rem;
	font-size: 0.2rem;line-height: 0.3rem;color: #75400c;
}
/*土地*/
.easteBox{
	width:7.5rem;height:5.11rem;background:url(../images/dd.png);
	background-size: cover;position: relative;
}
.easte{
	width: 4.5rem;height: 3.3rem;background: none;position: absolute;
	transform:rotate(27deg) skew(-32deg);left: 1.7rem;top: 0.9rem;
}
.easte li{
	width: 25%;height: 33.33333333%;/*background: url(../images/dd5.png);
	background-size: cover;*/float: left;position: relative;
}
.easte li:nth-of-type(4),.easte li:nth-of-type(8){
	background: url(../images/dd3.png);background-size: cover;
}
.easte li:nth-of-type(9),.easte li:nth-of-type(10),.easte li:nth-of-type(11){
	background: url(../images/dd4.png);background-size: cover;
}
.easte li:nth-of-type(12){
	background: url(../images/dd2.png);background-size: cover;
}
.easte li .opacity{
	width: 100%;height: 100%;background: rgba(235,216,130,.3);position: absolute;
	left: 0;top: 0;opacity: 0;transition: opacity .3s ease; 
}
.easte li .zuowu{
	width: 80%;height:150%;position: absolute;right: 0.4rem;bottom: 0;
	transform:rotate(-35deg) skew(14deg);z-index: 1;
}
.easte li .caozuoBtn{
	width: 0.64rem;height:1.1rem;position: absolute;right:0.3rem;bottom: 0;
	transform:rotate(-35deg) skew(14deg);opacity: 0;
	transition:all .2s ease;z-index: 0;
}
.diaoxiang1{
	width:0.69rem;height:1.47rem;background: url(../images/diaoxiang1.png);
	background-size: cover;position: absolute;left: 2.1rem;top: 4.73rem;
}
.diaoxiang2{
	width:0.69rem;height:1.47rem;background: url(../images/diaoxiang2.png);
	background-size: cover;position: absolute;left: 1.35rem;top: 5.18rem;
}
.diaoxiang3{
	width:0.69rem;height:1.47rem;background: url(../images/diaoxiang3.png);
	background-size: cover;position: absolute;left: 0.65rem;top: 5.5rem;
}
.diaoxiang4{
	width:0.9rem;height:1.47rem;background: url(../images/diaoxiang4.png);
	background-size: cover;position: absolute;left: 0.02rem;top: 5.91rem;
}
.diaoxiangBox{
	width: 2.2rem;min-height: 1.6rem;background: rgba(255,255,255,.5);border-radius: 0.2rem;
	position: absolute;left: 0;top: 0;z-index: 1;transition:all .3s ease;
	transform: scale(0,0);
}
.diaoxiangBox p:nth-of-type(1){
	color: #a2d647;font-size: 0.2rem;width: 90%;margin: auto;
}
.diaoxiangBox p:nth-of-type(2){
	color: #111;font-size: 0.2rem;width: 90%;margin: auto;line-height: 0.25rem;
}
.diaoxiangBox p:nth-of-type(3){
	color: #3a6a20;font-size: 0.2rem;width: 90%;margin: auto;line-height: 0.25rem;
}
.diaoxiangBox .dxjindu{
	width: 90%;height: 2px;border-radius: 2px;background: #c2b9a7;
	margin: auto;position: relative;
}
.diaoxiangBox .dxjindu div{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;border-radius: 2px;
}
/*遮罩*/
.shade{
	width: 100%;height: 100%;position: fixed;left: 0;top: 0;
	z-index: 997;background: rgba(0,0,0,.3);display: none;
}
.chongzhiBox{
	width:6.75rem;height:5.59rem;background: url(../images/chongzhidi.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.remove{
	width:0.58rem;height:0.63rem;background: url(../images/chacha.png);
	background-size: cover;position: absolute;top: 0.15rem;right: -0.1rem;
}
.chongzhiBox p:nth-of-type(1){
	height: 0.4rem;line-height: 0.4rem;font-size: 0.25rem;color: #815024;
	position: absolute;top: 1.16rem;right: 1.87rem;text-align:right;font-weight: bold;
}
.chongzhiBox p:nth-of-type(2){
	width:1.85rem; height:0.45rem; line-height: 0.45rem; background: none; position: absolute; 
	top:4.28rem; left:0.61rem; color:#7f9b16; text-align: right; font-size: 0.34rem; 
	font-weight: bold;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 0.1rem;
}
.chongzhiBox p:nth-of-type(3){
	width:1.85rem; height:0.45rem; line-height: 0.45rem; background: none; position: absolute; 
	top:4.28rem; left:2.5rem; color:#7f9b16; text-align: right; font-size: 0.34rem; font-weight: bold;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 0.1rem;
}
.chongzhiBox p:nth-of-type(4){
	width:1.85rem; height:0.45rem; line-height: 0.45rem; background: none; position: absolute; 
	top:4.28rem; left:4.57rem; color:#7f9b16; text-align: right; font-size: 0.34rem; font-weight: bold;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 0.1rem;
}
.chongzhiBox a:nth-of-type(1){
	width:1.26rem;height:0.39rem;background: url(../images/jinbichongzhi.png);
	position: absolute;top: 1.16rem;right:0.46rem;background-size: cover;
}
.chongzhiBox a:nth-of-type(2){
	width:1.96rem;height:2rem;background: url(../images/2000zuan.png);
	position: absolute;top: 2.27rem;left:0.4rem;background-size: cover;
}
.chongzhiBox a:nth-of-type(3){
	width:1.96rem;height:2rem;background: url(../images/20000zuan.png);
	position: absolute;top: 2.27rem;left:2.34rem;background-size: cover;
}
.chongzhiBox a:nth-of-type(4){
	width:1.96rem;height:2rem;background: url(/Public/gold/img/index/chongzhi_mes/200000zuan.png);
	position: absolute;top: 2.27rem;left:4.32rem;background-size: cover;
}
.duihuan_chenggong{
	width:3rem;height:0.6rem;background: rgba(255,255,255,.5);
	text-align: center;line-height: 0.6rem;z-index: 998;display: none;
	font-size: 0.28rem;color: #ff0000;border-radius: 0.15rem;font-weight: bold;
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 999;
}
.duihuan_shibai{
	width:2.9rem;height:0.6rem;background: rgba(255,255,255,.5);
	text-align: center;line-height: 0.6rem;z-index: 998;display: none;
	font-size: 0.28rem;color: #ff0000;border-radius: 0.15rem;font-weight: bold;
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 999;
}
.buy_cg{
	width:5.92rem;height:3.63rem;background: url(../images/goumaichenggong.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.chongzhi_mes{
	width:5.95rem;height:3.64rem;background: url(/Public/gold/img/index/chongzhi_mes/ditu.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.chongzhi_mes img{
	width: 3.7rem;height: 0.34rem;position: absolute;left: 0;right: 0;
	margin: auto;top: 1.5rem;
}
.chongzhi_mes a:nth-of-type(1){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/queding.png);
	background-size: cover;position: absolute;top: 2.52rem;left: 1.3rem;
}
.chongzhi_mes a:nth-of-type(2){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/quxiao.png);
	background-size: cover;position: absolute;top: 2.52rem;right: 1.3rem;
}
.zsbzBox{
	width:5.93rem;height:3.63rem;background: url(../images/kuang.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.zsbzBox a:nth-of-type(1){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/queding.png);
	background-size: cover;position: absolute;top: 2.52rem;left: 1.3rem;
}
.zsbzBox a:nth-of-type(2){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/quxiao.png);
	background-size: cover;position: absolute;top: 2.52rem;right: 1.3rem;
}
.wpbzBox{
	width:5.93rem;height:3.63rem;background: url(../images/kuang.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.wpbzBox a:nth-of-type(1){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/queding.png);
	background-size: cover;position: absolute;top: 2.52rem;left: 1.3rem;
}
.wpbzBox a:nth-of-type(2){
	display: block;width:1.15rem;height:0.55rem;background: url(../images/quxiao.png);
	background-size: cover;position: absolute;top: 2.52rem;right: 1.3rem;
}
.find_friend{
	width:5.97rem;height:4.28rem;background: url(/Public/gold/img/index/find_friend/ditu.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.find_friend input:nth-of-type(1){
	width: 1.58rem;height: 0.38rem;background: none;border: none;
	position: absolute;left: 2.45rem;top: 1.62rem;border-radius: 0.38rem;
	line-height: 0.38rem;font-size: 0.2rem;color:#fff;
}
.find_friend .submit{
	width:0.93rem;height:0.43rem;background: url(../images/chazhao.png);
	background-size: cover;position: absolute;top:1.6rem;left:4.42rem;border: none;
}
.find_friend a{
	display: block;width:1.16rem;height:0.55rem;background: url(../images/qunongchang.png);
	background-size: cover;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;
}
.find_friend img{
	width: 3.48rem;height: 0.35rem;position: absolute;
	left: 0;right: 0;margin: auto;top: 2.6rem;
}
.find_friend ul{
	width: 3.48rem;height: 0.35rem;position: absolute;
	left: 0;right: 0;margin: auto;top: 3.1rem;
}
.find_friend ul li:nth-of-type(1){
	width: 1.59rem;height: 100%;text-align: center;line-height: 0.35rem;
	font-size: 0.23rem;color:#642a00;float: left;font-weight: bold;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.find_friend ul li:nth-of-type(2){
	width: 1.01rem;height: 100%;text-align: center;line-height: 0.35rem;
	font-size: 0.23rem;color:#642a00;float: left;font-weight: bold;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.find_friend ul li:nth-of-type(3){
	width: 0.88rem;height: 100%;text-align: center;line-height: 0.35rem;
	font-size: 0.23rem;color:#642a00;float: left;font-weight: bold;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.shezhiBox{
	width:5.96rem;height:3.65rem;background: url(/Public/gold/img/index/shezhi/ditu.png);
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-size: cover;z-index: 998;display: none;
}
.qiehuan{
	width:0.63rem;height:0.66rem;background:url(../images/qiehuan.png);
	background-size: cover;position: absolute;left: 3.65rem;top: 1.61rem;
}
.audio{
	width:0.63rem;height:0.66rem;background:url(../images/yinxiao.png);
	background-size: cover;position: absolute;left: 1.71rem;top: 1.61rem;
}
.audio img{
	width: 0.28rem;height: 0.28rem;position: absolute;right: 0;bottom: 0;
}
.qiehuanImg{
	width:1.22rem;height:0.31rem;background:url(../images/qhzh.png);
	background-size: cover;position: absolute;left: 3.33rem;top: 2.55rem;
}
.audioImg{
	width:1.52rem;height:0.32rem;background:url(../images/yinxiaoyiguanbi.png);
	background-size: cover;position: absolute;left: 1.21rem;top: 2.55rem;
}
.rizhiBox{
	width:6.72rem;height:8.9rem;background: url(../images/ditu.png);
	background-size: cover;position: fixed;left:0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.leftBtn{
	width:0.64rem;height:0.65rem;background: url(../images/fanhui.png);
	background-size: cover;position: absolute;left: 2.23rem;top: 7.39rem;
}
.rightBtn{
	width:0.64rem;height:0.65rem;background: url(../images/bufanhui.png);
	background-size: cover;position: absolute;left: 3.83rem;top: 7.39rem;
}
.empty{
	width:1.07rem;height:0.5rem;background: url(../images/qingkong.png);
	background-size: cover;position: absolute;left: 4.66rem;top: 7.48rem;
}
.rizhiMes{
	width: 5.52rem;height: 5.42rem;position: absolute;
	left: 0.58rem;top: 1.52rem;overflow: auto;
}
.rizhiMes li{
	width: 100%;height:1.21rem;background: url(/Public/gold/img/index/rizhi/kuang.png);
	background-size: cover;position: relative;margin-bottom: 0.12rem;
}
.rizhiMes li p:nth-of-type(1){
	color: #481f00;font-size: 0.2rem;position: absolute;left: 0.5rem;
	top: 0.2rem;font-weight: bold;
}
.rizhiMes li p:nth-of-type(2){
	color: #481f00;font-size: 0.2rem;position: absolute;left: 0.5rem;
	top: 0.5rem;font-weight: bold;
}
.rizhiMes li p:nth-of-type(3){
	color: #481f00;font-size: 0.2rem;position: absolute;left: 1.8rem;
	top: 0.35rem;font-weight: bold;width: 60%;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.paihangbang{
	width:6.63rem;height:7.06rem;background: url(/Public/gold/img/index/paihang/dakuang.png);
	background-size: cover;position: fixed;left:0;right: 0;top: 0;bottom: 0;margin: auto;
	z-index: 998;display: none;
}
.paihangTop{
	position: absolute;left: 0.53rem;top: 1.11rem;
}
.paihangTop li:nth-of-type(1){
	width:1.53rem;height:0.62rem;background: url(../images/nongchangpaiming2.png);
	background-size: cover;float: left;
}
.paihangTop li:nth-of-type(2){
	width:1.53rem;height:0.62rem;background: url(../images/chongwupaiming2.png);
	background-size: cover;float: left;margin-left: 0.1rem;
}
.find_go{
	width:1.19rem;height:0.47rem;background: url(../images/chazhaowanjia.png);
	background-size: cover;position: absolute;left: 4.4rem;top: 1.15rem;
}
.paihangBot{
	position: absolute;left: 0.28rem;top: 1.64rem;
}
.paihangBot li:nth-of-type(1){
	width:6.1rem;height:5.15rem;background:url(../images/xiaokuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display:none;
}
.paihangBot li:nth-of-type(2){
	width:6.1rem;height:5.15rem;background:url(../images/petxiaokuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display:none;
}
.paihangBot li:nth-of-type(1){
	display: block;
}
.paihangMesBox{
	width: 5.81rem;height: 4rem;position: absolute;left: 0;right: 0;margin: auto;
	top: 0.67rem;overflow: auto;
}
.paihangMes{
	width: 100%;height: 0.57rem;background: #a1d5df;border: 1px dashed #666;
	border-radius: 0.15rem;margin-bottom: 0.1rem;
}
.paihangMes div{
	font-size: 0.23rem;text-align: center;line-height: 0.57rem;font-weight: bold;
	float: left;color: #643512;height: 100%;
}
.paihangMes div img{
	height:0.5rem;vertical-align: middle;margin: auto;
}
.paihangMes div:nth-of-type(1){
	font-size: 0.26rem;width: 0.9rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.paihangMes div:nth-of-type(2){
	width: 1.48rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.paihangMes div:nth-of-type(3){
	width: 1.03rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.paihangMes div:nth-of-type(4){
	width: 1.36rem;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.paihangMes div:nth-of-type(5){
	width: 0.94rem;
}
.gerenMesBox{
	width:6.07rem;height:3.72rem;background:url(../images/dakuang.png);
	background-size: cover;position: fixed;left:0;right: 0;top: 0;bottom: 0;margin: auto;
	z-index: 998;display: none;
}
.gerenMes{
	width:5.64rem;height:2.4rem;background:url(/Public/gold/img/index/gerenimg/zhongkuang.png);
	background-size: cover;position: absolute;left: 0.21rem;top: 1.04rem;
}
.gerenMes img{
	width: 1.1rem;height: 1.1rem;border: 2px solid #642a00;border-radius: 0.15rem;
	position: absolute;left: 0.3rem;top: 0.19rem;
}
.gerenMes p:nth-of-type(1){
	color: #642a00;font-size: 0.2rem;font-weight: bold;position: absolute;
	left: 3.55rem;top: 0.25rem;
}
.gerenMes p:nth-of-type(2){
	color: #642a00;font-size: 0.2rem;font-weight: bold;position: absolute;
	left: 3.55rem;top: 0.7rem;
}

.gerenMes p:nth-of-type(3){
	color: #642a00;font-size: 0.2rem;font-weight: bold;position: absolute;
	left: 3.55rem;top: 1.18rem;
}

.gerenMes p:nth-of-type(4){
	color: #642a00;font-size: 0.2rem;font-weight: bold;position: absolute;
	left: 3.55rem;top: 1.65rem;
}
/*
.gerenMes input{
	width: 1rem;height: 1.1rem;position: absolute;left: 0.3rem;top: 0.19rem;
	opacity: 0;
}
*/



.pandaBox{
	width:6.66rem;height:7.71rem;background: url(../images/chongwuxinxi.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.pandaTop{
	position: absolute;left: 0.56rem;top: 1.12rem;
}
.pandaTop li:nth-of-type(2){
	width:1.32rem;height:0.63rem;background: url(../images/jineng.png);
	background-size: cover;float: left;
}
.pandaTop li:nth-of-type(1){
	width:1.32rem;height:0.63rem;background: url(../images/xinxi2.png);
	background-size: cover;float: left;margin-left: 0.05rem;
}
.pandaBot{
	position: absolute;left: 0.2rem;top: 1.64rem;
}
.pandaBot li{
	width: 6.24rem;height: 5.81rem;position: absolute;left: 0;top: 0;display: none;
}
.pandaBot li:nth-of-type(1){
	background: url(/Public/gold/img/index/chongwu/dakuang.png);background-size: cover;
	display: block;
}
.pandaBot li:nth-of-type(2){
	background: url(../images/jineng3.png);background-size: cover;
}
.pandaBot li:nth-of-type(2) a{
	display: block;width:0.92rem;height:0.44rem;background: url(../images/shiyong.png);
	background-size: cover;margin-left: 5.04rem;margin-top: 0.69rem;
}
.pandaBot li:nth-of-type(2) .progressBar1{
	width:2.5rem; height:0.11rem; background:none; position:absolute; top:0.99rem; left:2.1rem; 
}
.pandaBot li:nth-of-type(2) .progressBar1 div{
	height:100%; background:#75400c;border-radius: 0.1rem;
}
.pandaBot li:nth-of-type(2) .progressBar2{
	width:2.5rem; height:0.11rem; background:none; position:absolute; top:2.03rem; left:2.1rem; border-radius: 0.1rem;
}
.pandaBot li:nth-of-type(2) .progressBar2 div{
	height:100%; background:#75400c;border-radius: 0.1rem;
}
.pandaBot li:nth-of-type(2) .progressBar3{
	width:2.5rem; height:0.11rem; background:none; position:absolute; top:3.07rem; left:2.1rem; border-radius: 0.1rem;
}
.pandaBot li:nth-of-type(2) .progressBar3 div{
	height:100%; background:#75400c;border-radius: 0.1rem;
}
.pandaBot li:nth-of-type(1) img:nth-of-type(1){
	width: 1.55rem;height: 1.37rem;border-radius: 0.2rem;
	position: absolute;left: 0.64rem;top: 0.49rem;
}
.pandaBot li:nth-of-type(1) input:nth-of-type(1){
	width: 0.98rem;height: 0.28rem;font-size: 0.21rem;color:#75400c;padding: 0;
	background: none;border: none;position: absolute;left: 3.33rem;top: 0.52rem;
	line-height: 0.28rem;font-weight: bold;
}
.changeName{
	width:0.92rem;height:0.44rem;background: url(../images/gaiming.png);
	background-size: cover;position: absolute;left: 4.74rem;top: 0.45rem;
}
.changeQueren{
	background: url(../images/quereng.png);background-size: cover;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(1){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 3.33rem;top: 0.9rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(2){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 1.38rem;top: 2.19rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(3){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 1.38rem;top: 2.56rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(4){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 1.38rem;top: 2.9rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(5){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 1.38rem;top: 3.28rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(6){
	height: 0.28rem;font-size: 0.21rem;color:#75400c;position: absolute;
	left: 1.38rem;top: 3.63rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(7){
	height: 0.28rem;font-size: 0.2rem;color:#75400c;position: absolute;
	left: 1.86rem;top:4.78rem;
	line-height: 0.28rem;font-weight: bold;
}
.pandaBot li:nth-of-type(1) p:nth-of-type(8){
	height: 0.28rem;font-size: 0.2rem;color:#75400c;position: absolute;
	left: 3.3rem;top: 4.78rem;
	line-height: 0.28rem;font-weight: bold;
}
.xunlian{
	width:0.92rem;height:0.44rem;background: url(../images/xunlian.png);
	background-size: cover;position: absolute;left: 4.3rem;top:2.1rem;
}
.pandaBot li:nth-of-type(1) img:nth-of-type(2){
	width: 0.91rem;height: 0.83rem;border-radius: 0.2rem;
	position: absolute;left: 1.86rem;top: 3.93rem;
}
.pandaBot li:nth-of-type(1) img:nth-of-type(4){
	width: 0.91rem;height: 0.83rem;border-radius: 0.2rem;
	position: absolute;left: 3.3rem;top: 3.93rem;
}
.weishi{
	width:0.92rem;height:0.44rem;background: url(../images/weishi.png);
	background-size: cover;position: absolute;left: 4.3rem;top:5.02rem;
}
.pandaBot li:nth-of-type(1) a{
	font-size: 0.21rem;color:#75400c;text-decoration: underline;
	position: absolute;left: 0.3rem;bottom: 0.1rem;font-weight: bold;
}
.pandaJindu1{
	width: 2.02rem;height: 0.15rem;background: #ffe4bc;border-radius: 0.15rem;
	position: absolute;left: 3.21rem;top: 1.3rem;
}
.pandaJindu1 div{
	width: 100%;height: 100%;border-radius: 0.15rem;
	position: absolute;left: 0;top:0;background:#75400c;
}
.pandaJindu2 div{
	width: 30%;height: 100%;border-radius: 0.15rem;
	position: absolute;left: 0;top:0;background:#75400c;
}
.pandaJindu2{
	width: 2.02rem;height: 0.15rem;background: #ffe4bc;border-radius: 0.15rem;
	position: absolute;left: 3.21rem;top: 1.68rem;
}
.pandaCount{
	width: 0.91rem;height: 0.24rem;border-radius: 0.24rem;text-align: center;
	line-height: 0.24rem;font-size: 0.18rem;color: #fec435;background: #a46b28;
	position: absolute;left: 2.16rem;top: 5.25rem;
}
.pandaJian{
	width:0.47rem;height:0.5rem;background: url(../images/jianhao.png);
	background-size: cover;position: absolute;left: 1.51rem;top: 5.1rem;
}
.pandaJia{
	width:0.47rem;height:0.5rem;background: url(../images/jiahao.png);
	background-size: cover;position: absolute;right: 2.5rem;top: 5.1rem;
}
/*右下角按钮*/
.zhuangbanBox{
	width:6.31rem;height:6.72rem;background:url(../images/ditu.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.dangqianzb{
	width:4.85rem;height:4.12rem;background:url(../images/beijing.png);
	background-size: cover;position: absolute;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
}
.cangkuBox{
	width:6.61rem;height:7.04rem;background: url(/Public/gold/img/index/cangku/ditu.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.cangkuTop{
	position: absolute;left: 0.5rem;top: 1.12rem;
}
.cangkuTop li{
	width: 1.31rem;height: 0.62rem;float: left;margin-left: 0.05rem;position: relative;
}
.cangkuTop li img{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
.cangkuTop li img:nth-of-type(2){
	display: none;
}
.cangkuTop li:nth-of-type(1) img:nth-of-type(2){
	display: block;
}
.cangkuBot{
	position: absolute;left: 0.18rem;top: 1.63rem;
}
.cangkuBot li{
	width:6.23rem;height:5.14rem;background: url(/Public/gold/img/index/cangku/zhongkuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display: none;overflow-y: auto;
}
.cangkuBot li:nth-of-type(1){
	display: block;
}
.cangluList{
	width:0.84rem;height:0.77rem;background: url(/Public/gold/img/index/cangku/xiaokuang.png);
	background-size: cover;margin-left: 0.35rem;margin-top: 0.18rem;float: left;
	position: relative;
}
.cangluList img{
	width:80%;height: 70%;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
}
.cangluList span{
	font-size: 0.18rem;position: absolute;right: 0;bottom: 0;color:#774f34;text-shadow: 0px 0px 2px #fff;
}
/**/
.duihuanBox{
	width:6.61rem;height:7.04rem;background:url(../images/duihuanbeijing.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.duihuanTop{
	position: absolute;left: 0.5rem;top: 1.12rem;
}
.duihuanTop li{
	width: 1.31rem;height: 0.62rem;float: left;margin-left: 0.05rem;position: relative;
}
.duihuanTop li img{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
.duihuanTop li img:nth-of-type(2){
	display: none;
}
.duihuanTop li:nth-of-type(1) img:nth-of-type(2){
	display: block;
}
.duihuanBot{
	position: absolute;left: 0.18rem;top: 1.63rem;
}
.duihuanBot li{
	width:6.23rem;height:5.14rem;background: url(/Public/gold/img/index/cangku/zhongkuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display: none;overflow-y: auto;
}
.duihuanBot li:nth-of-type(1){
	display: block;
}
.gongyongList{
	width:5.46rem;height:1.49rem;background: url(../images/huangsekuang.png);
	background-size: cover;margin: auto;margin-top: 0.15rem;position: relative;
}
.dhImgLeft{
	width: 1.07rem;
    height: 1.01rem;
    background: url(/Public/gold/img/index/duihuan/kuang.png);
    position: absolute;
    left: 0.26rem;
    top: 0.12rem;
    /* top: 0.32rem; */
    background-size: cover;
}
.dhImgLeft img{
	width:80%;height: 70%;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
}
.shuiguo1{
	width: 0.45rem;height: 0.85rem;position: absolute;left: 1.43rem;top: 0.2rem;
	text-align: center;color: #75400c;font-size: 0.2rem;font-weight: bold;
}
.shuiguo1 img{
	width: 100%;
}
.shuiguo1 span{
	position:absolute; bottom:-0.15rem; 
}
.shuiguoJiaJia{
	font-size: 0.35rem;font-weight: bold;color: #75400c;
	position: absolute;left: 1.95rem;top: 0.3rem;
}
.shuoguoNum{
	width: 0.5rem;height: 0.25rem;border-radius: 0.05rem;
	background:#20e2e0;color:#75400c;text-align: center;line-height: 0.28rem;
	font-size: 0.18rem;font-weight: bold;position: absolute;right: -0.3rem;top: -0.05rem;
}
.shuiguoCount{
	width: 0.9rem;height: 0.39rem;background:#75400c;border-radius: 0.1rem;
	color:#eed28b;font-size: 0.2rem;text-align: center;line-height: 0.39rem;
	font-weight: bold;position: absolute;left: 2.9rem;top: 0.24rem;
}
.shuiguoJia{
	width:0.36rem;height:0.26rem;background: url(../images/jiahao.png);
	background-size: cover;position: absolute;left: 3.44rem;top: 0.76rem;
}
.shuiguoJian{
	width:0.36rem;height:0.26rem;background: url(../images/jianhao.png);
	background-size: cover;position: absolute;left: 2.9rem;top: 0.76rem;
}
.shuiguoduihuan{
	width:1.13rem;height:0.54rem;background: url(../images/duihuan.png);
	background-size: cover;position: absolute;left: 3.98rem;top: 0.22rem;
}
.gongyongList a:nth-of-type(1){
	font-size: 0.3rem;color: #ff0000;font-weight: bold;
	text-decoration: underline;position: absolute;left: 4.2rem;top: 0.72rem;
}
/**
 * 
 */
/**/
.shangdianBox{
	width:6.61rem;height:7.04rem;background:url(/Public/gold/img/index/shangdian/ditu.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.shangdianTop{
	position: absolute;left: 0.5rem;top: 1.12rem;
}
.shangdianTop li{
	width: 1.31rem;height: 0.62rem;float: left;margin-left: 0.05rem;position: relative;
}
.shangdianTop li img{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
.shangdianTop li img:nth-of-type(2){
	display: none;
}
.shangdianTop li:nth-of-type(1) img:nth-of-type(2){
	display: block;
}
.shangdianBot{
	position: absolute;left: 0.18rem;top: 1.63rem;
}
.shangdianBot li{
	width:6.23rem;height:5.14rem;background: url(../images/zhongkuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display: none;overflow-y: auto;
}
.shangdianBot li:nth-of-type(1){
	display: block;
}
.gongyongList>p:nth-of-type(1){
	font-size: 0.18rem;color: #512905;font-weight: bold;
}
.gongyongList>p:nth-of-type(2){
	font-size: 0.1rem;color: #512905;font-weight: bold;
	position: absolute;left: 1.36rem;top: 0.4rem; width:2.63rem; height:0.8rem;
	overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
.gongyongList>p:nth-of-type(4){
	font-size: 0.18rem;color: #d71201;font-weight: bold;
	position: absolute;left: 4rem;top: 0.8rem;
}
.gongyongList>p:nth-of-type(3){
	width: 2.55rem;line-height: 0.2rem;
	font-size: 0.18rem;color: #d71201;font-weight: bold;
	position: absolute;left: 2.7rem;top: 0.2rem;
}
.gongyongList>p:nth-of-type(5){
	font-size: 0.18rem;color: #830600;font-weight: bold;
	position: absolute;left: 4.04rem;top: 0.8rem;
}
.shuiguogoumai{
	width:1.13rem;height:0.54rem;background: url(../images/goumai.png);
	background-size: cover;position: absolute;left: 3.98rem;top: 0.22rem;
}
/**
 * 
 */
/**/
.jiansheBox{
	width:6.61rem;height:7.04rem;background:url(../images/fangwu_sj.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.jiansheTop{
	position: absolute;left: 0.5rem;top: 1.12rem;
}
.jiansheTop li{
	width: 1.46rem;height: 0.63rem;float: left;margin-left: 0.05rem;position: relative;
}
.jiansheTop li img{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
.jiansheTop li img:nth-of-type(2){
	display: none;
}
.jiansheTop li:nth-of-type(1) img:nth-of-type(2){
	display: block;
}
.jiansheBot{
	position: absolute;left: 0.18rem;top: 1.63rem;
}
.jiansheBot li{
	width:6.23rem;height:5.14rem;background: url(/Public/gold/img/index/cangku/zhongkuang.png);
	background-size: cover;position: absolute;left: 0;top: 0;display: none;overflow-y: auto;
}
.jiansheBot li:nth-of-type(1){
	display: block;
}
.tudishengji{
	width:1.13rem;height:0.54rem;background: url(../images/shengji.png);
	background-size: cover;position: absolute;left: 3.98rem;top: 0.38rem;
}
.tudiName{
	width:1.87rem;height:0.41rem;position: absolute;
	left: 0;right: 0;margin: auto;top: -0.15rem;
}
.tudiName img{
	width: 100%;height: 100%;position: absolute;left: 0;top: 0;
}
.tudiName p{
	width:1.87rem;height:0.41rem;line-height:0.41rem; color:#643512; font-size:0.19rem;z-index:0; position:absolute;
	left:0.1rem; font-weight:bold;
}
/*操作弹出*/
.bozhongAlert{
	width:6.03rem;height:3.7rem;background:url(../images/bozhong.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.shougeAlert {
    width: 6.03rem;
    height: 3.7rem;
    background: url(../images/bozhong.png);
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 998;
    display: none;
}
.shougeAlert p {
    color: #905911;
    font-size: 0.3rem;
    width: 2.93rem;
    height: 0.38rem;
    position: absolute;
    top: 1.3rem;
    left: 1.8rem;
}
.shougeYes{
	width:1.15rem;height:0.55rem;background:url(../images/queding.png);
	background-size: cover;position: absolute;left:0;top: 2.47rem;right: 0;margin: auto;
}
.bozhongYes{
	width:1.15rem;height:0.55rem;background:url(../images/queding.png);
	background-size: cover;position: absolute;left:0;top: 2.47rem;right: 0;margin: auto;
}
.chanchuAlert{
	width:6.03rem;height:3.7rem;background:url(../images/chanchu.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.chanchuYes{
	width:1.15rem;height:0.55rem;background:url(../images/queding.png);
	background-size: cover;position: absolute;left:0;top: 2.47rem;right: 0;margin: auto;
}
.shifeiAlert{
	width:6.03rem;height:3.7rem;background:url(../images/shifoushifei.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.shifeiYes{
	width:1.15rem;height:0.55rem;background:url(../images/queding.png);
	background-size: cover;position: absolute;left:0;top: 2.47rem;right: 0;margin: auto;
}
.xinxiAlert{
	width:6.03rem;height:3.7rem;background:url(../images/gebitan.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.xinxiAlert span{
	font-size: 0.4rem; color:#fff;
	position: absolute; top:0.2rem; left:2.45rem;
}
.xinxiAlert p:nth-of-type(1){
	font-size: 0.35rem; color:#642a00; position: absolute; top:1.3rem; left:0.6rem;
}
.xinxiAlert p:nth-of-type(2){
	font-size: 0.35rem; color:#642a00; position: absolute; top:1.8rem; left:0.6rem;
}
.xinxiAlert .jindu_whb{
	width:4.99rem; height:0.13rem; background:#ddbc8c; border-radius: 0.2rem; position: absolute;
	top:2.6rem; left:0.53rem;
}
.xinxiAlert .jindu_whb .whb{
	height:100%; background:#642a00;  border-radius: 0.2rem;
}
.xinxiYes{
	width:1.15rem;height:0.55rem;background:url(../images/shengji.png);
	background-size: cover;position: absolute;left:0;bottom:-0.1rem;right: 0;margin: auto;
}
@-webkit-keyframes icon1{
	from{
		top: -50px;
	}
	to{
		top: 100%;
	}
}
@-moz-keyframes icon1{
	from{
		top: -50px;
	}
	to{
		top: 100%;
	}
}
@-ms-keyframes icon1{
	from{
		top: -50px;
	}
	to{
		top: 100%;
	}
}
@keyframes icon1{
	from{
		top: -50px;
	}
	to{
		top: 100%;
	}
}
.iconAnimate{
	animation:icon1 linear infinite;
	-moz-animation: icon1 linear infinite;
	-webkit-animation: icon1 linear infinite;
	-ms-animation: icon1 linear infinite;
	-webkit-animation-duration:2s;
	animation-duration:2s;
}
.BigHouse{
	width:5.32rem;height:4.94rem;/*background: url(../images/fangzi.png);
	background-size: cover;*/position: absolute;left: 1.9rem;top: 1.11rem;
}
.SmallHouse{
	width:1.96rem;height:2.16rem;background: url(../images/xiaofangzi.png);
	background-size: cover;position: absolute;right:0;top: 4.05rem;
}
.sico_chongwu_Box{
	width:6.72rem;height:7.79rem;background: url(/Public/gold/img/index/add_chongwu/ditu.png);
	background-size: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;z-index: 998;display: none;
}
.sico_chongwu_List{
	width: 6.14rem;height: 5.62rem;background: none;
	position: absolute;left: 0.3rem;top: 1.65rem;overflow-y: auto;
}
.sico_chongwu_List li{
	width:100%;height:2.88rem;background: url(../images/xiaokuang0.png);
	background-size: cover;margin-bottom: 0.2rem;position: relative;
}
.sico_chongwu_List li p:nth-of-type(1){
	font-size: 0.2rem;color:#75400c;position: absolute;left: 0.88rem;
	top: 0.23rem;font-weight: bold;
}
.sico_chongwu_List li p:nth-of-type(2){
	font-size: 0.22rem;color:#75400c;position: absolute;left: 1.38rem;
	top: 2.3rem;font-weight: bold;
}
.sico_chongwu_List li p:nth-of-type(3){
	font-size: 0.22rem;color:#75400c;position: absolute;left: 3.14rem;
	top: 1.2rem;font-weight: bold;
}
.sico_chongwu_List li p:nth-of-type(4){
	font-size: 0.22rem;color:#75400c;position: absolute;left: 3.14rem;
	top: 1.58rem;font-weight: bold;
}
.sico_chongwu_List li p:nth-of-type(5){
	font-size: 0.22rem;color:#75400c;position: absolute;left: 3.14rem;
	top: 1.94rem;font-weight: bold;
}
.sico_chongwu_List li p:nth-of-type(6){
	font-size: 0.22rem;color:#75400c;position: absolute;left: 3.14rem;
	top: 2.28rem;font-weight: bold;
}
.sico_chongwu_List li img{
	width: 1.5rem;height: 1.28rem;position: absolute;left: 0.59rem;top: 0.73rem;
}
.sico_chongwuJD1{
	width: 2.02rem;height: 0.15rem;background: #ffe4bc;border-radius: 0.15rem;
	position: absolute;left: 3.14rem;top: 0.6rem;
}
.sico_chongwuJD1 div{
	width: 0%;height: 100%;border-radius: 0.15rem;
	position: absolute;left: 0;top:0;background:#75400c;
}
.sico_chongwuJD2{
	width: 2.02rem;height: 0.15rem;background: #ffe4bc;border-radius: 0.15rem;
	position: absolute;left: 3.14rem;top: 0.95rem;
}
.sico_chongwuJD2 div{
	width: 10%;height: 100%;border-radius: 0.15rem;
	position: absolute;left: 0;top:0;background:#75400c;
}
/**/
.sicoZhezhao{
	width: 100%;height: 100%;position: fixed;left: 0;top: 0;
}
.sicoZhezhaoForFrined{
	width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 999;
}

/*
新增三大灾害显示图片
*/
.chongzi{
	display:none; position:absolute; z-index:9;transform: rotate(-35deg) skew(14deg);top:0.3rem;
}
.water{
	display:none;position:absolute;z-index:9; transform: rotate(-35deg) skew(14deg); width:0.8rem; top:0.15rem; left:0.1rem; height:1rem;
}
.zacao{
	display:none;position:absolute;z-index:9; transform: rotate(-35deg) skew(14deg); width:0.8rem; top:0.3rem; left:0.1rem;
}
.alertBox{
	width: 6.03rem; height: 3.7rem; background: url(../images/goldbox.png); 
	background-size: cover; position: fixed; left: 0;right: 0;top: 0;bottom: 0; margin: auto;
	z-index: 998;display: none;
}
.alertBox p{
	color:#905911; font-size:0.3rem;width:2.93rem; height:0.38rem; position:absolute; top:1.3rem; left:1.8rem;
}
.alertBox a{
	display:block; width: 1.15rem; height: 0.55rem;background: url(../images/queding.png);
    background-size: cover;position: absolute; left: 0; top: 2.47rem; right: 0; margin: auto;
}
.alertBox div:nth-of-type(1){
    width: 0.58rem;
    height: 0.63rem;
    background: url(../images/chacha.png);
    background-size: cover;
    position: absolute;
    top: -0.15rem;
    right: -0.1rem;
	display:block !important;
}
.alertBox div:nth-of-type(2){
	width: 4rem;height: 0.6rem; background: rgba(255,255,255,.5); text-align: center; line-height: 0.6rem;
	 font-size: 0.28rem; color: #ff0000; border-radius: 0.15rem; font-weight: bold; position: fixed;
    left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 999;display: none;
}
#mengban{
	width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,.7); z-index:999999;
}
#mengban img{
	position:fixed; left:0; right:0; top:0; bottom:0; margin:auto;
}
#load{
	width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,.7); z-index:999999;
}
#load img{
	position:fixed; left:0; right:0; top:0; bottom:0; margin:auto;
}
.choosePicture{
	width:6.5rem; height:7.1rem; background:url(../images/txxz.png) no-repeat; background-size:100% 100%; position: fixed;
    left: 0;right: 0; top: 0; bottom: 0; margin: auto; z-index: 999; display:none;
}
.choosePicture a{
	width: 0.58rem;height:0.63rem; position:absolute; top:0.1rem; right:0rem; background: url(../images/chacha.png); background-size: cover;
}
.choose{
	width:5.82rem; height:5.43rem; background:none; position:absolute; top: 1.21rem; left:0.37rem ;overflow-y:auto; z-index:7;
}
.choose div{
	width:2.06rem; height:2.06rem; background:url(../images/kk.png) no-repeat; background-size:cover; float:left; 
	margin-top:0.1rem; margin-left:0.48rem; margin-bottom:0.3rem; margin-right:0.2rem; border-radius:0.5rem;
}
.choose div img{
	width:1.5rem; height:1.6rem; border:none; margin-top:0.2rem; margin-left:0.32rem;
}

.bozhongAlert p {
    color: #905911;
    font-size: 0.3rem;
    width: 2.93rem;
    height: 0.38rem;
    position: absolute;
    top: 1.3rem;
    left: 1.8rem;
}